h2 {
    font-size: 3rem;
}

audio {
    width: 60%;
}

#WriteComment {
    width: 100%; 
}

.Comments {
    background-color: white;
}

#ModifyEpisode > svg{
    width: 26px;
    height: 26px;
}

#DeleteEpisode > svg {
    width: 25px;
    height: 25px;
}

.ModifyComment > svg{
    width: 20px;
    height: 20px;
}

.DeleteComment > svg {
    width: 19px;
    height: 19px;
}